* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #050509;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-family: inherit;
}

#app {
    max-width: 1000px;
    margin: auto;
    padding: 25px;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

h1 {
    margin: 0;
    color: #c477ff;
    font-size: 24px;
    letter-spacing: 4px;
}

header p {
    color: #666;
    font-size: 10px;
    letter-spacing: 3px;
}

#dimension {
    color: #a865d4;
    font-size: 13px;
    text-align: right;
}


/* SCENE */

.scene {
    height: 330px;
    margin: 25px 0 15px;

    position: relative;
    overflow: hidden;

    border: 1px solid #352a3e;
    border-radius: 8px;

    background: #090914;
}

.visual {
    position: absolute;
    inset: 0;

    background:
        radial-gradient(
            circle at 75% 30%,
            #eeeeee 0 3%,
            transparent 3.5%
        ),

        radial-gradient(
            circle at 75% 30%,
            #42295a 0 12%,
            transparent 13%
        ),

        linear-gradient(
            #080419,
            #110b19 60%,
            #050509
        );
}

.visual::before {

    content: "";

    position: absolute;

    inset: 0;

    opacity: .35;

    background-image:
        radial-gradient(
            white 1px,
            transparent 1px
        );

    background-size: 55px 55px;
}

.visual::after {

    content: "";

    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;

    height: 80px;

    background:
        repeating-linear-gradient(
            90deg,
            #111 0 35px,
            #1c1025 35px 65px
        );
}

#location {

    position: absolute;

    bottom: 18px;
    left: 20px;

    z-index: 2;

    font-size: 11px;

    letter-spacing: 3px;

    color: #ddd;
}


/* STORY */

.story {

    padding: 23px;

    background: #0c0a10;

    border: 1px solid #302936;

    border-radius: 8px;
}

#speaker {

    color: #c477ff;

    font-size: 12px;

    font-weight: bold;

    letter-spacing: 3px;

    margin-bottom: 14px;
}

#text {

    min-height: 90px;

    color: #eee;

    font-size: 18px;

    line-height: 1.6;
}


/* CHOICES */

#choices {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 10px;

    margin-top: 15px;
}

.choice {

    min-height: 65px;

    padding: 14px;

    text-align: left;

    color: white;

    background: #111018;

    border: 1px solid #39303f;

    border-radius: 5px;

    cursor: pointer;

    transition: .15s;
}

.choice:hover {

    background: #1b1222;

    border-color: #b466e5;

    transform: translateY(-2px);
}


/* BUTTONS */

nav {

    display: flex;

    flex-wrap: wrap;

    gap: 8px;

    margin-top: 15px;
}

nav button {

    padding: 11px 15px;

    color: #aaa;

    background: #0b0a0e;

    border: 1px solid #302a36;

    border-radius: 5px;

    cursor: pointer;
}

nav button:hover {

    color: white;

    border-color: #a960d5;

    background: #17111d;
}


/* MAP */

#mapScreen {

    position: fixed;

    inset: 0;

    z-index: 100;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    background: rgba(0,0,0,.9);
}

.hidden {
    display: none !important;
}

.mapBox {

    width: min(800px, 100%);

    max-height: 90vh;

    overflow-y: auto;

    position: relative;

    padding: 25px;

    background: #0a090e;

    border: 1px solid #493455;

    border-radius: 8px;
}

#closeMap {

    position: absolute;

    right: 12px;
    top: 8px;

    border: none;

    background: none;

    color: #aaa;

    font-size: 30px;

    cursor: pointer;
}

.mapBox h2 {

    margin-top: 0;

    letter-spacing: 4px;
}

.mapBox p {

    color: #777;

    font-size: 12px;
}

.card {

    padding: 15px;

    margin: 8px 0;

    background: #121016;

    border: 1px solid #332c39;

    border-radius: 5px;

    cursor: pointer;
}

.card:hover {

    border-color: #a960d5;

    background: #19121f;
}

.card b {

    color: #c277ed;
}

.card small {

    display: block;

    margin-top: 7px;

    color: #888;

    line-height: 1.5;
}


/* MOBILE */

@media(max-width:650px) {

    #app {
        padding: 14px;
    }

    header {
        flex-direction: column;
    }

    #dimension {
        text-align: left;
    }

    .scene {
        height: 250px;
    }

    #choices {
        grid-template-columns: 1fr;
    }

    #text {
        font-size: 16px;
    }

    nav button {
        flex: 1;
    }
}
